@model ProjetoBase.Models.Aluno

@{
    ViewBag.Title = "Resultado";
}

<h2>Resultado</h2>
@*<h1>@Model.Nome</h1>*@

@*@Html.LabelFor(a => a.Nome)<br />
@Html.DisplayFor(a => a.Nome)<br />

@Html.LabelFor(a => a.Idade)<br />
@Html.DisplayFor(a => a.Idade)<br />*@

@Html.DisplayForModel()


